<!DOCTYPE html>
<html>
    <style>
        table, th, td {
          border-radius:1px solid slateblue;
        }
        </style>
<body>
<body style="background-color:powderblue;">

<h2 style="text-align:center;">_Welcome to My Web App_</h2>
<h3 style="text-decoration:currentColor;">Ini adalah Galeri Sketsa ku</h3>
<marquee>~About Me~</marquee>
<p style="color:blue;">Hai...! Kenalin gue Nurul Izzah biasa di panggil izzah.berkelahiran di Pamekasan pada tanggal 18 Desember 2003 lalu, termasuk anak pertama dari empat bersaudara. Cucu kesayangan kakek-nenek pede gue sendiri.</p>
<p>Punya cita-cita sederhana yaitu ingin semua impiannya tercapai. Nggk suka kacang apalagi di kacangin, suka hujan tapi nggak suka kehujanan, sering di anggap aneh karna nggak begitu suka healing dan sangat mencita-citakan berhenti mondokkk! </p>
<p><a href="">Visit myinstagram!</a></p>
<p><a href="https://youtube.com/@nurulizzah8451?si=3n2TCq_UJ_FQ_j_9">Visit youtube gue!</a></p>

<table>
    <tr>
        <th style="color:aqua;">Nama</th>
        <th style="color:aqua;">Npm</th>
        <th style="color:aqua;">Alamat</th>
    </tr>
    <tr>
        <td style="color:blueviolet;">Nurul Izzah</td>
        <td style="color:blueviolet;">2022020100025</td>
        <td style="color:blueviolet;">Gugul Tlanakan Pamekasan</td>
    </tr>
</table>

</body>
</html>